success-payment-page {
  .success-payment {
    background-image: url(../assets/imgs/background_success_payment.jpg);
    background-position: right;
  }

  .success-payment-icon {
    font-size: 100px;
  }
  
  .success-payment-text {
    font-size: 20px;
  }
}
