waiter {
    .waiter-home {
        background-image: url('../assets/imgs/intro_bg1.jpg'); 
        background-position: left
    }
    .waiter-btn {
      color: white;
      border: 3px solid white;
      font-weight: bold;
      font-size: 20px;
      padding: 10px;
      margin: 25px 0;
    }
}